.carddemoBasicUsage .card-media {
  background-color: #e6f0ff;
}

.slim_text{
  padding-top: 0px;
}

@media screen and (min-width: 1420px){
  .border {
    max-width:70%;
      margin: auto;
      border: 3px solid #73AD21;
  }
}

.namecard{
  border-width: thick;
  border-color: black;
  border-style: solid;
}
.namecard h3{
  font-size: 16px;
  position: absolute;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  /* color: #fff; */
  left: 100%;
  letter-spacing: 1px;
  margin: 12px 0;
  /*opacity: 0.8;*/
  padding: 12px 40px 0 0;
  right: 0;
  text-transform: uppercase;
  top: 0;
  white-space: nowrap;
}

.image{
  border-radius: 100px;
}
.profile_picture{
  border-radius: 100px;
}
.rcorners1 {
    border-radius: 100px;
    padding: 5px;
    background-color: white;
}
.profile_name{
  color: white;
  padding: 0px 0px 0px 0px;

}

span.profile_title{
  color: white;
  padding: 0px 0px 0px 0px;
}

.info_style{
  color: white;
}

.card-title{
  padding-top: 0px;
  padding-bottom: 0px;
}

.svg{
  height: 15px;
  width: 15px;
}
.coursework{
  padding-top: 0px;
  padding-bottom: 5px;
  border-width: thin;
  border-color: gray;
  background-color: white;
  border-radius: 20px;
}
.tool{
  text-decoration: underline;
}

.coursework_title{
  font-weight: bold;
}
.coursework_card{
  background-color: #009688;
}
.inactive{
  color:  #009688;
  min-width: 0px;
  font-size: 8px;
}
/*.coursework:nth-child(n){

}*/

/*.coursework:nth-child(even){
}*/


/*.md-subhead{
  text-transform: none
}
.md-headline{
  text-transform: none;
}*/
