.carddemoBasicUsage .card-media {
  background-color: #e6f0ff;
}

@media screen and (min-width: 1420px){
  .border {
    max-width:70%;
      margin: auto;
      border: 3px solid #73AD21;
  }
}

.namecard{
  border-radius: 20px;
}

.image{
  border-radius: 100px;
}
.profile_picture{
  border-radius: 100px;
}
.rcorners1 {
    border-radius: 100px;
    padding: 5px;
    background-color: white;
}
.profile_name{
  color: white;
}

.profile_title{
  color: white;
}

.info_style{
  color: white;
}


/*.md-subhead{
  text-transform: none
}
.md-headline{
  text-transform: none;
}*/
