<div>
  <div class="carddemoBasicUsage" ng-cloak="">
    <md-content layout="row" layout-xs="row">
      <div flex-xs="35" flex-gt-xs="30" layout="column">
        <md-card layout-xs="column" md-theme="dark-blue" md-theme-watch="" layout-align="center center" style="border-radius: 30px;">
          <md-card-title>
            <md-card-title-media>
              <div class="md-media-md card-media rcorners1">
                <img class="md-media-md card-media profile_picture" style=""
                ng-src="{{$ctrl.items.profile.picture}}"/>
              </div>
            </md-card-title-media>
          </md-card-title>
          <md-card-title>
            <md-card-title-text>
              <span class="md-display-1 profile_name">{{$ctrl.items.profile.name}}</span>
              <span class="md-subhead profile_title">{{$ctrl.items.profile.title}}</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-actions layout="column" layout-align="start start" md-theme="dark-purple">
            <md-card-title-text layout="row" layout-align="none none" ng-repeat="each in $ctrl.items.connection">
              <md-icon style="" md-svg-icon="{{each.image}}"></md-icon>
              <span class="md-body-2">{{each.info}}</span>
            </md-card-title-text>
          </md-card-actions>
        </md-card>
        <md-card md-theme="default" md-theme-watch="">
          <md-card-title layout="column" layout-align="none none">
            <md-card-title-text ng-if="project.visible" ng-repeat="project in $ctrl.items.projects">
              <span class="md-body-2">{{project.heading}}</span>
              <span class="md-caption">Applications, Transport, Network, Datalink, Physical Layers Protocols</span>
            </md-card-title-text>
          </md-card-title>
        </md-card>
      </div>
      <div flex-xs="65" flex-gt-xs="70" layout="column">
        <md-card md-theme="default" md-theme-watch="" style="border-radius:20px">
          <md-card-title layout="row" ng-repeat="edu in $ctrl.items.education">
            <md-card-title-text>
              <span class="md-subhead" style="color:black; font-weight: bold;">
                <md-icon md-svg-icon="svg/school.svg"></md-icon>{{edu.school}}
              </span>
              <span class="md-body-1">
                <md-icon md-svg-icon="svg/class.svg"></md-icon>{{edu.major}}
                <md-icon md-svg-icon="svg/location.svg"></md-icon>{{edu.city}}
                <md-icon md-svg-icon="svg/datetime.svg"></md-icon>{{edu.date}}
                <md-icon ng-if="edu.grade" md-svg-icon="svg/grade.svg"></md-icon>{{edu.grade}}
              </span>
              <span ng-if="edu.concentration" class="md-caption">
                <md-icon md-svg-icon="svg/focus.svg"></md-icon>
                {{edu.concentration}}
              </span>
            </md-card-title-text>
            <md-card-title-media>
              <div class="md-media-sm card-media image">
                <img ng-src="{{edu.image}}"></img>
              </div>
            </md-card-title-media>
          </md-card-title>
        </md-card>
        <md-card md-theme="default" md-theme-watch="" style="border-radius:20px">
          <!-- <md-button layout="column" layout-align="start start" ng-repeat="project in $ctrl.items.projects"> -->
            <md-card-title layout="row" layout-align="start start" ng-repeat="project in $ctrl.items.projects">
              <md-card-title-media>
                <div class="md-media-sm card-media image">
                  <img class="image" ng-src="{{project.image}}"></img>
                </div>
              </md-card-title-media>
              <md-card-title-text layout="column">
                <span class="md-subhead">{{project.header}}</span>
                <span class="md-caption">{{project.description}}</span>
                <span class="md-caption">{{project.tool}}</span>
              </md-card-title-text>
            </md-card-title>
          <!-- </md-button> -->
        </md-card>
         <md-card md-theme="default" md-theme-watch="" style="border-radius:20px">
          <md-card-title ng-repeat="intern in $ctrl.items.internships">
            <md-card-title-text>
              <span class="md-subhead">{{intern.position}} - {{intern.company}}
                <md-icon md-svg-icon="svg/location.svg"></md-icon>{{intern.place}}
                <md-icon md-svg-icon="svg/datetime.svg"></md-icon>{{intern.duration}}
              </span>
              <span class="md-body-1" ng-repeat="desc in intern.description">
                {{desc}}
              </span>
              <span class="md-caption">{{intern.technology}}</span>
            </md-card-title-text>
            <md-card-title-media>
              <div class="md-media-sm card-media image">
                <img style="border-radius: 100px; zoom: 90%;" ng-src="{{intern.image}}"></img>
              </div>
            </md-card-title-media>
          </md-card-title>
        </md-card>
      </div>
    </md-content>
  </div>
</div>
